body {
  background-color: rgb(212, 212, 212);
}
.profile {
  background-color: beige;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  border: rgb(150, 186, 211) solid;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px
    rgba(123, 123, 195, 0.349);
}

.profile img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
  background-color: lightblue;
}

.description {
  padding: 5px;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.stats {
  display: flex;
  padding-left: 0px;
  justify-content: space-between;
}

.statsItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 17px;
  background-color: lightblue;
}

.statsItem:nth-of-type(1) {
  background-color: rgb(190, 189, 189);
}

.statsItem:nth-of-type(2) {
  background-color: lightblue;
}

.statsItem:nth-of-type(3) {
  background-color: rgb(190, 189, 189);
}
